.header-filters{
  display: flex;
  z-index: 1;
  margin-bottom: 2em;
  gap: 2em
}
.map-wrapper{
  height: 70vh;
  width: 60vw;
}

.cluster-marker{
  color: white;
  cursor: pointer;
  background: #00008b;
  border-radius: 40px;
  display: grid;
  place-items: center;
  transition: box-shadow 300ms;
  font-weight: bold;
  &:hover{
    box-shadow: #00008b 0 0 20px;
  }
}
.vehicle-marker{
  cursor: pointer;
  transition: background-color 300ms;
  border-radius: 30px;
  &:hover{
    background-color:  rgba(blue, 0.1);
  }
}
@media screen and (max-width: 1100px){
  .map-wrapper {
    width: 90vw;
  }
}